.box01{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    color: #d31313;
    background: #14c540;
    background-color: aqua;
}
.{
    width: 0;
    background-color: #d31313;

}
